.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  overflow: scroll;
  width: 100%;
  max-height: calc(100vh - 25rem);
  &_display {
    flex-flow: row;
    justify-content: space-between;
    height: 150px;
  }
}
