$normal: #a8a878;
$normalLighten: lighten($normal, 10%);
$water: #6890f0;
$waterLighten: lighten($water, 10%);
$fire: #f08030;
$fireLighten: lighten($fire, 10%);
$grass: #78c850;
$grassLighten: lighten($grass, 10%);
$fairy: #f7b5f7;
$fairyLighten: lighten($fairy, 10%);
$flying: #a890f0;
$flyingLighten: lighten($flying, 10%);
$poison: #a040a0;
$poisonLighten: lighten($poison, 10%);
$dark: #705848;
$darkLighten: lighten($dark, 10%);
$psychic: #f85888;
$psychicLighten: lighten($psychic, 10%);
$steel: #b8b8d0;
$steelLighten: lighten($steel, 10%);
$electric: #f8d030;
$electricLighten: lighten($electric, 10%);
$fighting: #c03028;
$fightingLighten: lighten($fighting, 10%);
$ground: #e0c068;
$groundLighten: lighten($ground, 10%);
$rock: #b8a038;
$rockLighten: lighten($rock, 10%);
$bug: #a8b820;
$bugLighten: lighten($bug, 10%);
$ice: #98d8d8;
$iceLighten: lighten($ice, 10%);
$dragon: #7038f8;
$dragonLighten: lighten($dragon, 10%);
$ghost: #705898;
$ghostLighten: lighten($ghost, 10%);

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  background: #efefef;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}

.normal0 {
  background: $normalLighten;
  border: 2px solid $normal;
}
.normal1 {
  border: 2px solid $normal;
}
.water0 {
  background: $waterLighten;
  border: 2px solid $water;
}
.water1 {
  border: 2px solid $water;
}
.fire0 {
  background: $fireLighten;
  border: 2px solid $fire;
}
.fire1 {
  border: 2px solid $fire;
}
.grass0 {
  background: $grassLighten;
  border: 2px solid $grass;
}
.grass1 {
  border: 2px solid $grass;
}
.fairy0 {
  color: #3d3f42;
  background: $fairyLighten;
  border: 2px solid $fairy;
}
.fairy1 {
  border: 2px solid $fairy;
}
.flying0 {
  color: #3d3f42;
  background: $flyingLighten;
  border: 2px solid $flying;
}
.flying1 {
  border: 2px solid $flying;
}
.poison0 {
  background: $poisonLighten;
  border: 2px solid $poison;
}
.poison1 {
  border: 2px solid $poison;
}
.dark0 {
  background: $darkLighten;
  border: 2px solid $dark;
}
.dark1 {
  border: 2px solid $dark;
}
.psychic0 {
  background: $psychicLighten;
  border: 2px solid $psychic;
}
.psychic1 {
  border: 2px solid $psychic;
}
.steel0 {
  background: $steelLighten;
  border: 2px solid $steel;
}
.steel1 {
  border: 2px solid $steel;
}
.electric0 {
  background: $electricLighten;
  border: 2px solid $electric;
}
.electric1 {
  border: 2px solid $electric;
}
.fighting0 {
  background: $fightingLighten;
  border: 2px solid $fighting;
}
.fighting1 {
  border: 2px solid $fighting;
}
.ground0 {
  background: $groundLighten;
  border: 2px solid $ground;
}
.ground1 {
  border: 2px solid $ground;
}
.rock0 {
  background: $rockLighten;
  border: 2px solid $rock;
}
.rock1 {
  border: 2px solid $rock;
}
.bug0 {
  background: $bugLighten;
  border: 2px solid $bug;
}
.bug1 {
  border: 2px solid $bug;
}
.ice0 {
  color: #3d3f42;
  background: $iceLighten;
  border: 2px solid $ice;
}
.ice1 {
  border: 2px solid $ice;
}
.dragon0 {
  background: $dragonLighten;
  border: 2px solid $dragon;
}
.dragon1 {
  border: 2px solid $dragon;
}
.ghost0 {
  background: $ghostLighten;
  border: 2px solid $ghost;
}
.ghost1 {
  border: 2px solid $ghost;
}
