.listItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  user-select: none;
  height: 60px;
  width: 60px;
  margin: 0.25rem;
  position: relative;
  &_image {
    height: 45px;
    width: 45px;
  }
}
