:root {
  --normal: #a8a878;
  --water: #6890f0;
  --fire: #f08030;
  --grass: #78c850;
  --fairy: #f7b5f7;
  --flying: #a890f0;
  --poison: #a040a0;
  --dark: #705848;
  --psychic: #f85888;
  --steel: #b8b8d0;
  --electric: #f8d030;
  --fighting: #c03028;
  --ground: #e0c068;
  --rock: #b8a038;
  --bug: #a8b820;
  --ice: #98d8d8;
  --dragon: #7038f8;
  --ghost: #705898;

  --normalLighten: rgba(168, 168, 120, 0.5);
  --waterLighten: rgba(104, 144, 240, 0.5);
  --fireLighten: rgba(240, 128, 48, 0.5);
  --grassLighten: rgba(120, 200, 80, 0.5);
  --fairyLighten: rgba(247, 181, 247, 0.5);
  --flyingLighten: rgba(168, 144, 240, 0.5);
  --poisonLighten: rgba(160, 64, 160, 0.5);
  --darkLighten: rgba(112, 88, 72, 0.5);
  --psychicLighten: rgba(248, 88, 136, 0.5);
  --steelLighten: rgba(184, 184, 208, 0.5);
  --electricLighten: rgba(248, 208, 48, 0.5);
  --fightingLighten: rgba(192, 48, 40, 0.5);
  --groundLighten: rgba(224, 192, 104, 0.5);
  --rockLighten: rgba(184, 160, 56, 0.5);
  --bugLighten: rgba(168, 184, 32, 0.5);
  --iceLighten: rgba(152, 216, 216, 0.5);
  --dragonLighten: rgba(112, 56, 248, 0.5);
  --ghostLighten: rgba(112, 88, 152, 0.5);
}

.ListItem {
  display: flex;
  justify-content: center;
  list-style: none;
  height: 75px;
  width: 75px;
  margin: 0.25rem;
  font-size: 0.75rem;
}

.normal0 {
  background: var(--normalLighten);
  border: 2px solid var(--normal);
}
.normal1 {
  border: 2px solid var(--normal);
}
.water0 {
  background: var(--waterLighten);
  border: 2px solid var(--water);
}
.water1 {
  border: 2px solid var(--water);
}
.fire0 {
  background: var(--fireLighten);
  border: 2px solid var(--fire);
}
.fire1 {
  border: 2px solid var(--fire);
}
.grass0 {
  background: var(--grassLighten);
  border: 2px solid var(--grass);
}
.grass1 {
  border: 2px solid var(--grass);
}
.fairy0 {
  background: var(--fairyLighten);
  border: 2px solid var(--fairy);
}
.fairy1 {
  border: 2px solid var(--fairy);
}
.flying0 {
  background: var(--flyingLighten);
  border: 2px solid var(--flying);
}
.flying1 {
  border: 2px solid var(--flying);
}
.poison0 {
  background: var(--poisonLighten);
  border: 2px solid var(--poison);
}
.poison1 {
  border: 2px solid var(--poison);
}
.dark0 {
  background: var(--darkLighten);
  border: 2px solid var(--dark);
}
.dark1 {
  border: 2px solid var(--dark);
}
.psychic0 {
  background: var(--psychicLighten);
  border: 2px solid var(--psychic);
}
.psychic1 {
  border: 2px solid var(--psychic);
}
.steel0 {
  background: var(--steelLighten);
  border: 2px solid var(--steel);
}
.steel1 {
  border: 2px solid var(--steel);
}
.electric0 {
  background: var(--electricLighten);
  border: 2px solid var(--electric);
}
.electric1 {
  border: 2px solid var(--electric);
}
.fighting0 {
  background: var(--fightingLighten);
  border: 2px solid var(--fighting);
}
.fighting1 {
  border: 2px solid var(--fighting);
}
.ground0 {
  background: var(--groundLighten);
  border: 2px solid var(--ground);
}
.ground1 {
  border: 2px solid var(--ground);
}
.rock0 {
  background: var(--rockLighten);
  border: 2px solid var(--rock);
}
.rock1 {
  border: 2px solid var(--rock);
}
.bug0 {
  background: var(--bugLighten);
  border: 2px solid var(--bug);
}
.bug1 {
  border: 2px solid var(--bug);
}
.ice0 {
  background: var(--iceLighten);
  border: 2px solid var(--ice);
}
.ice1 {
  border: 2px solid var(--ice);
}
.dragon0 {
  background: var(--dragonLighten);
  border: 2px solid var(--dragon);
}
.dragon1 {
  border: 2px solid var(--dragon);
}
.ghost0 {
  background: var(--ghostLighten);
  border: 2px solid var(--ghost);
}
.ghost1 {
  border: 2px solid var(--ghost);
}
