.header {
  background: #0277bd;
  padding: 1.45rem 1.0875rem;
  @media (min-width: 640px) {
    margin-bottom: 1.5rem;
  }

  &_text {
    margin: 0;
  }
  &_link {
    color: white;
    text-decoration: none;
  }
}
