.displayHeader {
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
  margin: 0 0.25rem 1rem 0.25rem;
  &_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 150px;
  }
  &_pokeball {
    background: linear-gradient(180deg, #f00 0 50%, #fff 50% 100%);
    border: 3px solid black;
    border-radius: 80px;
  }
  &_pokeballCenter {
    width: 98%;
    border: 2px solid black;
  }
  &_image {
    height: 60%;
    width: 60%;
    margin-bottom: 0;
  }
  &_typeWrapper {
    margin-top: 0.5rem;
    color: #3d3f42;
  }
  &_typeWrapper > &_type:not(:only-child) {
    margin-right: 0.5rem;
  }
  &_type {
    padding: 0.125rem;
  }
}
