.statTable {
  font-size: 0.75rem;
  width: 100%;
  @media (min-width: 940px) {
    width: 33%;
    border: 1px solid #cecece;
  }

  &_wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 0.25rem;
  }
  &_typeText {
    display: none;
  }
  &_typeImage {
    height: 25px;
    width: 25px;
  }
  &_cell {
    text-align: center;
    &_text {
      padding: 0.5rem;
    }
    &__caution {
      background: #ea9138;
      color: white;
      font-weight: bold;
    }
    &__warning {
      background: #a31d07;
      color: white;
      font-weight: bold;
    }
  }
}
