.statTable {
  font-size: 0.8rem;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1em;
  &_cell {
    text-align: center;
    width: calc(100% / 9);
    &__caution {
      background: #ea9138;
      color: white;
      font-weight: bold;
      padding: 0.5rem;
    }
    &__warning {
      background: #a31d07;
      color: white;
      font-weight: bold;
      padding: 0.5rem;
    }
  }
}
